<!--

The name of the partial should match the model, with a prepended underscore.
The name of the variable we use within the partial should match the partial name.

-->

  <div class='title'>
    <p>
      <strong>Name:</strong> <%= link_to title.name, title_path(title) %>
    </p>
  </div>
